/*
* Name: Buttons
* Note: N/A
-------------------------------------------------------------- */

.btn {
    @include button($brand-primary);
    font-weight: normal;
    @include on-interaction { 
        outline-offset: 0;
        text-decoration: none; 
    }
}

.btn--success {
    @include button($brand-success);
    font-weight: normal
}

.btn--danger {
    @include button($brand-warning);
    font-weight: normal
}

.btn--warning {
    @include button($brand-warning);
    font-weight: normal
}

.btn--link {
    @include button($brand-white);
}