/*
* Name: Typography
* Note: N/A
-------------------------------------------------------------- */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

//
// Typography
// --------------------------------------------------

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: $grey-1;
}

body {
    background-color: $white;
    line-height: (30/19);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: $line-height-base;
    font-size: $font-size-base;
    @include respond-max($screen-sm) { font-size: $font-size-sm; }
}

h1, h2, h3, h4, h5, h6,
pre, p, ul, ol, li, dl, dd, form, table, blockquote, figure, figcaption {
    font-weight: normal;
    font-size: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    color: $grey-1;
}

h1, .h1 {
    @include bold-24;
    padding-bottom: 20px;
}

h2, .h2 {
    @include bold-19;
    padding-top: 5px;
    padding-bottom: 20px;
}

h3, .h3 {
    @include bold-16;
    padding-bottom: 5px;
}

h4, .h4, h5, .h5, h6, .h6 {
    @include bold-14;
    padding-bottom: 6px;
}

p, ul, ol, form, table, dl, dd, blockquote, pre {
    padding-bottom: $guttering;
}

ul {
    padding-left: $guttering;
    list-style: disc;
}

ol {
    padding-left: $guttering;
    list-style: decimal;
}

ul,
ol {
    ul,
    ol {
        margin-bottom: $guttering;
        padding-left: $guttering;
    }
}

blockquote {
    margin-bottom: $guttering;
    padding: 0 $guttering;
    border-left: 8px solid $grey-2;
}

b,
strong {
    font-weight: 700;
}

small,
.small {
    @include core-16($line-height: (25 / 16), $line-height-640: (20 / 14));
}

abbr[title] {
    cursor: help;
}

.lead {
    @include core-24($line-height: (30 / 24), $line-height-640: (25 / 18));
    // font-family: "TradeGothicLT";
    font-weight: normal;
    color: $grey-1;
    text-shadow: 0 0 1px rgba($grey-3, 0.3);
}

.ll {
    max-width: 700px;
}

.muted {
    color: $grey-4;
}

.fcoservices-wrapper {
    @include core-19($line-height: (30/19), $line-height-640: (25 / 16));

    // a[href*="//"]:not([href*="fcoservices.gov.uk"]),
    a[rel="external"] {
        @include external-link-default;
        @include external-link-19;

        &:after {
            margin-left: 5px;
        }
    }

    th.external-link {
        @include external-link-heading;
    }

    .inner a[rel="external"],
    .inner a[href*="//"]:not([href*="fcoservices.gov.uk"]) {
        @include external-link-16;
    }
}

// Default link style
a {
    font-weight: 700;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);

    &:link {
        color: $link-colour;
    }

    &:visited {
        color: $link-visited-colour;
    }

    &:hover {
        color: $link-hover-colour;
        text-decoration: underline;
    }

    &:active {
        top: 0;
        color: $link-active-colour;
    }

    &:focus {
        background-color: $yellow;
        outline: 3px solid $yellow;
        outline-offset: -2px;
    }
}