/* 
* Mixin name: Alerts
* Use: Handling alert colour variations
* Notes: N/A
-------------------------------------------------------------- */

@mixin alert-variant($background, $border, $brand-text) {
    background-color: $background;
    border-color: $border;
    color: $brand-text;
    hr {
        border-top-color: darken($border, 5%);
    }
    .alert--link, a {
        color: darken($brand-text, 5%);
        &:hover {
            color: darken($brand-text, 7.5%);
        }
    }
}