@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
.grid__row:after {
  content: "";
  display: block;
  clear: both; }

.grid, .container {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    .grid, .container {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    .grid, .container {
      margin: 0 auto; } }

.grid__row {
  margin: 0 -15px; }

@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
.grid__row:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
.grid__row:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
/* ==========================================================================
   Variables
   ========================================================================== */
/* Branding
-------------------------------------------------------------- */
/* Text colouring
-------------------------------------------------------------- */
/* Typography
-------------------------------------------------------------- */
/* Component spacing
-------------------------------------------------------------- */
/* Profile avatar sizes
-------------------------------------------------------------- */
/* Logo sizing
-------------------------------------------------------------- */
/* Inputs
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Layout
-------------------------------------------------------------- */
/* Grid
-------------------------------------------------------------- */
/* Tables
-------------------------------------------------------------- */
/* Buttons
-------------------------------------------------------------- */
/* Z-index
-------------------------------------------------------------- */
/* Header
-------------------------------------------------------------- */
/* Navs
-------------------------------------------------------------- */
/* Pagination
-------------------------------------------------------------- */
/* Labels
-------------------------------------------------------------- */
/* Modals
-------------------------------------------------------------- */
/* Alerts
-------------------------------------------------------------- */
/* Thumbnails
-------------------------------------------------------------- */
/* Wells
-------------------------------------------------------------- */
/* Badges
-------------------------------------------------------------- */
/* Close
-------------------------------------------------------------- */
/* Arrow
-------------------------------------------------------------- */
/* Tooltips
-------------------------------------------------------------- */
/* ==========================================================================
   Mixins
   ========================================================================== */
/*
* Mixin name: Responsive utilities
* Use: Controlling visibility responsiely
* Notes: N/A
-------------------------------------------------------------- */
/*
* Mixin name: Text overflow
* Use: Append an ellipsis to the end of overflowing text
* Notes:  Requires inline-block or block for proper styling
-------------------------------------------------------------- */
/*
* Mixin name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Notes: http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/*
* Mixin name: On interaction
* Use: Applying same styling to hover,active and focus states
* Notes: N/A
-------------------------------------------------------------- */
/*
* Mixin name: Vertical align
* Use: Vertical align within a fixed height parent (requires relative positioning)
* Notes: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
-------------------------------------------------------------- */
/*
* Mixin name: Clearfix
* Use: Clearing floats
* Notes: For modern browsers
1. The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document.
   Otherwise it causes space to appear at the top and bottom of elements that are clearfixed.
2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.

Source: http://nicolasgallagher.com/micro-clearfix-hack/
-------------------------------------------------------------- */
/* ==========================================================================
   Base styles
   ========================================================================== */
/*
* Name: Reset
* Note: N/A
-------------------------------------------------------------- */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
picture,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.4em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Name: Layout
* Note: N/A
-------------------------------------------------------------- */
.grid__row .grid__column--third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid__row .grid__column--third {
      float: left;
      width: 33.33333%; } }
.grid__row .grid__column--two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid__row .grid__column--two-thirds {
      float: left;
      width: 66.66667%; } }
.grid__row .grid__column--half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid__row .grid__column--half {
      float: left;
      width: 50%; } }
.grid__row .grid__column--three-fourths {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid__row .grid__column--three-fourths {
      float: left;
      width: 75%; } }
.grid__row .grid__column--one-fourth {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .grid__row .grid__column--one-fourth {
      float: left;
      width: 25%; } }

/*
* Name: Typography
* Note: N/A
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/*! Copyright (c) 2011 by Margaret Calvert & Henrik Kubel. All rights reserved. The font has been customised for exclusive use on gov.uk. This cut is not commercially available. */
@font-face {
  font-family: 'nta';
  src: url(../assets/fonts/NTA-Light-20130221-4eaebdc297260abcaaf375e80df3f3d7.eot#) format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nta';
  src: url(../assets/fonts/NTA-Bold-20130221-c46bf6ef74ccb57bb1796e513321ee16.eot#) format("embedded-opentype");
  font-weight: bold; }
@font-face {
  font-family: 'ntatabularnumbers';
  src: url(../assets/fonts/NTATabularNumbers-Light-b027e1c1608902c0f6760546ba21e9fa.eot#) format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ntatabularnumbers';
  src: url(../assets/fonts/NTATabularNumbers-Bold-2f19de254f212f2b939e6040032bdd1c.eot#) format("embedded-opentype");
  font-weight: bold; }
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #6f777b; }

body {
  background-color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "nta", Arial, sans-serif; }
  @media (max-width: 768px) {
    body {
      font-size: 1.4rem; } }

h1, h2, h3, h4, h5, h6,
pre, p, ul, ol, li, dl, dd, form, table, blockquote, figure, figcaption {
  font-weight: normal;
  font-size: 100%; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0; }

h1, .h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  padding-bottom: 20px; }
  @media (max-width: 640px) {
    h1, .h1 {
      font-size: 18px;
      line-height: 1.2; } }

h2, .h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  padding-top: 5px;
  padding-bottom: 20px; }
  @media (max-width: 640px) {
    h2, .h2 {
      font-size: 16px;
      line-height: 1.25; } }

h3, .h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  padding-bottom: 5px; }
  @media (max-width: 640px) {
    h3, .h3 {
      font-size: 14px;
      line-height: 1.14286; } }

h4, .h4, h5, .h5, h6, .h6 {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 700;
  text-transform: none;
  padding-bottom: 6px; }
  @media (max-width: 640px) {
    h4, .h4, h5, .h5, h6, .h6 {
      font-size: 12px;
      line-height: 1.25; } }

p, ul, ol, form, table, dl, dd, blockquote, pre {
  padding-bottom: 2.4rem; }

ul {
  padding-left: 2.4rem;
  list-style: disc; }

ol {
  padding-left: 2.4rem;
  list-style: decimal; }

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 2.4rem;
  padding-left: 2.4rem; }

blockquote {
  margin-bottom: 2.4rem;
  padding: 0 2.4rem;
  border-left: 8px solid #bfc1c3; }

b,
strong {
  font-weight: 700; }

small,
.small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5625;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    small,
    .small {
      font-size: 14px;
      line-height: 1.42857; } }

abbr[title] {
  cursor: help; }

.lead {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: normal;
  color: #6f777b;
  text-shadow: 0 0 1px rgba(222, 224, 226, 0.3); }
  @media (max-width: 640px) {
    .lead {
      font-size: 18px;
      line-height: 1.38889; } }

.ll {
  max-width: 700px; }

.muted {
  color: #f8f8f8; }

a {
  color: #005ea5;
  font-weight: 700;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
  a:visited {
    color: #4c2c92; }
  a:hover {
    color: #2e8aca;
    text-decoration: underline; }
  a:active {
    top: 0;
    color: #2e8aca; }
  a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
    outline-offset: -3px; }

/*
* Name: Lists
* Note: N/A
-------------------------------------------------------------- */
ul,
ol {
  margin-top: 0;
  margin-bottom: 1.2rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

.list-inline {
  margin-top: -1.2rem;
  margin-bottom: 0; }
  .list-inline > li {
    display: inline-block;
    margin-right: 2.4rem;
    margin-top: 1.2rem;
    margin-bottom: 0; }
    .list-inline > li:last-child {
      margin-right: 0; }

@media (max-width: 768px) {
  .list-inline--blocked > li {
    float: left;
    width: 50%;
    text-align: left;
    margin-right: 0; } }

.list-inline--zero-marg > li {
  margin-right: 0;
  margin-bottom: 0; }

.list-inline--more-marg {
  margin-bottom: -15px; }
  .list-inline--more-marg > li {
    margin-bottom: 15px; }

.list-blocked > li {
  width: 100%;
  display: block;
  margin-bottom: 5px; }
  .list-blocked > li:last-child {
    margin-bottom: 0; }

.list-bordered > li {
  padding: 1em;
  margin-bottom: 0;
  border-bottom: 1px solid;
  border-color: #EAEAEA; }

.list-overflow > li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

dl {
  margin-top: 0;
  margin-bottom: 2.4rem; }
  dl > *:last-child, dl > *:last-child > *:last-child, dl > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

dt,
dd {
  line-height: 1.6; }

dt {
  font-weight: bold;
  margin-bottom: 0.48rem; }

dd {
  margin-left: 0;
  margin-bottom: 2.4rem; }
  dd > *:last-child, dd > *:last-child > *:last-child, dd > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

/* ==========================================================================
   Components
   ========================================================================== */
/*
* Name: Skiplink
* Use: Skip to content button on tab
* Modifiers: N/A
* Notes: N/A
-------------------------------------------------------------- */
.skiplink {
  text-align: center; }

.skiplink__link {
  position: absolute;
  left: -9999em;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0.75em 0;
  padding: .25em .5em; }
  .skiplink__link:focus {
    position: static; }

/*
* Name: masthead
* Use: Wrapping logo and subtext
* Modifiers: N/A
* Notes: N/A
-------------------------------------------------------------- */
.masthead {
  background-color: black;
  color: white;
  padding: 0.8rem 2.4rem; }

.masthead__subtext {
  color: white;
  display: block; }
  .masthead__subtext:visited {
    color: white; }
  .masthead__subtext:hover, .masthead__subtext:active, .masthead__subtext:focus {
    color: white; }
  @media (min-width: 768px) {
    .masthead__subtext {
      text-align: right; } }

/*
* Name: Nav
* Use: For site-wide navigation areas
* Modifiers: Pill/Stacked/Inline/Justified/Tabs
* Notes: N/A
-------------------------------------------------------------- */
.nav {
  width: 100%;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }

.nav--primary {
  background-color: #c81e53;
  display: inline-block;
  vertical-align: middle;
  margin-right: -2.4rem;
  margin-bottom: 0; }
  .nav--primary .nav__list {
    margin-bottom: 0;
    padding-bottom: 0; }
  .nav--primary .nav__item {
    position: relative;
    display: inline-block;
    margin-right: 2.4rem;
    font-weight: 400; }
  .nav--primary .nav__item--active {
    background-color: #b21b4a; }
  .nav--primary .nav__link {
    position: relative;
    display: block;
    padding: 1.2rem;
    color: white;
    text-decoration: none; }
    .nav--primary .nav__link:visited {
      color: white; }
    .nav--primary .nav__link:hover, .nav--primary .nav__link:active, .nav--primary .nav__link:focus {
      color: white; }

/*
* Pattern name: Page
* Use: Content handling
* Modifiers: Padding options
* Note: N/A
-------------------------------------------------------------- */
.section {
  width: 100%;
  padding: 3.84rem;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (min-width: 992px) {
    .section {
      padding: 4.8rem; } }
  @media (min-width: 1250px) {
    .section {
      padding: 9.6rem; } }
  @media (max-width: 480px) {
    .section {
      padding: 3.84rem 2.4rem; } }

.section--primary {
  background-color: #c81e53;
  color: white; }

.section--transparent {
  background-color: transparent;
  color: white; }

.section--plain {
  background-color: white; }

.section__content {
  margin: auto;
  display: block; }
  .section__content > *:last-child, .section__content > *:last-child > *:last-child, .section__content > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

/*
* Name:
* Use:
* Modifiers:
* Notes:
-------------------------------------------------------------- */
.hero__title {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: bold; }
  @media (max-width: 640px) {
    .hero__title {
      font-size: 32px;
      line-height: 1.09375; } }

/* ==========================================================================
   Plugins
   ========================================================================== */
/* ==========================================================================
   Utilities
   ========================================================================== */
/* ==========================================================================
   Overrides
   ========================================================================== */

/*# sourceMappingURL=main.css.map */
