/* 
* Name: Alert
* Use: Contextual feedback messages for typical user actions
* Modifiers: Various colour options to indicatate different states
* Notes: See http://getbootstrap.com/javascript/#alerts / http://getbootstrap.com/components/#alerts
-------------------------------------------------------------- */

.alert {
    background-color: $brand-white;
    display: inline-block;
    width: auto;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid $brand-keyline;
    // z-index: $zindex-alert;
    transition: height .25s ease-in-out;
    padding: .75em 1em;
    margin-bottom: $guttering;
    @include guttering;
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert--success {
    background-color: $brand-success;
    border-bottom-color: darken($brand-success, 5%);
    color: white;
}

.alert--warning {
    background-color: $orange;
    border-bottom-color: darken($orange, 5%);
    color: white;
}

.alert--danger {
    background-color: $mellow-red;
    border-bottom-color: darken($mellow-red, 5%);
    color: white;
}