/*
* Name: Back to top
* Use: An anchor link to the top of the page that appears after user scroll
* Modifiers: Responsive version that only shows at a certain breakpoint
* Note: A back to top link has scope to be incorporated into the indicator bar
-------------------------------------------------------------- */

.back-to-top {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s ease-in-out, opacity .25s ease-in-out;
    .lt-ie9 & {
        display: none;
    }
}

.back-to-top--static {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: $zindex-back-to-top;
    right: $guttering;
    bottom: $guttering;
    text-align: center;
}

.back-to-top--active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.25s ease-in-out, opacity .25s ease-in-out;
}

.back-to-top__inner {
    background-color: $brand-primary;
    padding: $guttering/2;
    color: $brand-white;
    &:visited, &:hover, &:focus, &:active { 
        color: $brand-white; 
        text-decoration: none;
        background-color: $brand-primary;
        outline-color: darken($brand-primary, 5%);
        outline-offset: 0;
    }
}