/*
* Name: Bubbles
* Use: Surrounding user-generated contextual content
* Modifiers: Arrow options + positioning of arrow
* Notes: N/A
-------------------------------------------------------------- */

.bubble {
    position: relative;
    width: 100%;
    padding: 1em;
    border-radius: 2px;
    background-color: $brand-grey-lighter;
    text-align: left;
    margin-bottom: $guttering;
    @include guttering;
}

.bubble--inline {
    display: inline-block;
    width: auto;
}

.bubble--more-pad {
    @include respond-min($screen-sm) {
        padding: $guttering;
    }
}

.bubble--right, %bubble--right {
    @include arrow(right, center, $brand-grey-lighter, $border-color: transparent);
}

.bubble--left, %bubble--left {
    @include arrow(left, center, $brand-grey-lighter, $border-color: transparent);
}

.bubble--top {
    @include arrow(top, center, $brand-grey-lighter, $border-color: transparent);
}

.bubble--top-left {
    @include arrow(top, left, $brand-grey-lighter, $border-color: transparent);
}

.bubble--top-right {
    @include arrow(top, right, $brand-grey-lighter, $border-color: transparent);
}

.bubble--left-desktop {
    @include respond-min($screen-md) {
        // When SASS finally gets its shit together and allows extending within media queries
        // uncomment the include below:
        // @include arrow(left, top, $brand-grey-lighter, $border-color: transparent);
        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent $brand-grey-lighter;
            display: block;
            width: 0;
            z-index: 1;
            left: -10px;
            top: 1.5rem;
        }
    }

    @include respond-max($screen-md) {
        // When SASS finally gets its shit together and allows extending within media queries
        // uncomment the include below:
        // @include arrow(top, left, $brand-grey-lighter, $border-color: transparent);
        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: $brand-grey-lighter transparent;
            display: block;
            width: 0;
            z-index: 1;
            left: 15px;
            top: -1rem;
        }
    }
}

// Make spacing for .bubble__image
.bubble--image {
    margin-bottom: 0;
    margin-top: $guttering;
    &:first-child {
        margin-top: $guttering / 3;
    }
    &:before {
        content: "";
        position: relative;
        width: 2em;
        height: 1px;
        float: left;
    }
}

.bubble__image {
    width: 2.75em;
    margin-left: -.5em;
    top: 0;
    position: absolute;
    margin-top: -.6em;
    border: 3px solid white;
    left: 0;
    box-shadow: 1px 1px 1px $brand-keyline;
    background-color: white;

}

.bubble--image-flipped {
    &:before {
        float: right;
    }
    .bubble__image {
        left: auto;
        right: 0;
        margin-right: -.5em;
        margin-left: 0;
    }
}
