/*
* Name: check-list
* Use: For displaying a timeline-like list side by side on wide viewports and stacked on smaller viewports
* Modifiers: Left and right columns / Social icons and branding
* Notes:
-------------------------------------------------------------- */

.check-list {
    margin: auto;
    height: 100%;
    clear: both;
    transition: opacity .25s;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: $guttering*2;
    @include respond-max($screen-lg) {
        max-width: 40em;
        position: relative;
    }
    @include respond-min($screen-lg) {
        max-width: 80em;
        margin-top: $guttering*3;
    }

    &:before, &:after {
        content: "";
        position: absolute;
    }

    &:before {
        left: 10px;
        width: 2px;
        background-color: $brand-success;
        border-radius: 50em;
        height: 100%;
        @include respond-min($screen-lg) {
            height: 100%;
            left: 50%;
            margin-left: -1px; // Half the width
        }
    }

    
    &:after {
        background-color: $brand-success;
        width: 10px;
        height: 10px;
        border-radius: 50em;
        display: block;
        top: -5px;
        left: 5px;
        margin-left: 1px;
        @include respond-min($screen-lg) {
            left: 50%;
            margin-left: -5px; // Half the width
        }
    }

}

.check-list__list {
    @extend %list-unstyled;
    margin-bottom: 0;
    position: relative;
    margin-bottom: $guttering;
    @include respond-min($screen-lg) {
        margin-bottom: $guttering*2;
        margin-top: -$guttering;
    }
}

.check-list__item {
    position: relative;
    @include clearfix;
    max-height: 900px;
    @include respond-min($screen-lg) {
        top: -2.5em; 
        width: 50%;
        min-height: 8em;
        top: auto;
    }
}

.check-list__inner {
    position: relative;
    margin-bottom: $guttering*1.4;
    @include respond-max($screen-lg) {
        margin-left: 4em;
    }
    @include respond-min($screen-lg) {
        margin-bottom: $guttering;
        margin-top: $guttering;
    }
}

.check-list__source {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    // overflow: hidden;
    color: $brand-white;
    background-color: $brand-success;
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 46%;
    margin-top: -24px;
    z-index: $zindex-checklist-source;
    @include respond-min($screen-lg) {
        margin: -24px 1px 0 0;
        top: 58%;
    }

    @include respond-max($screen-lg) {
        &:before, &:after {
            content: "";
            position: absolute;
            border-collapse: separate;
            right: -40px;
            top: 50%;
            margin-right: -1px;
        }
        &:before {
            margin-top: -12px;
            border: 12px solid transparent;
            border-right-color: #e3e3e3!important;
        }
        &:after {
            margin-top: -11px;
            border: 11px solid transparent;
            border-right-color: #fff!important;
        }
    }

    @include respond-max($screen-sm) { 
        &:before, &:after {
            right: -32px;
        }
    }

    .lt-ie9 & {
        &:before {
            display: none;
        }
    }
}


.check-list__item--left {
    @include respond-min($screen-lg) {
        float: left;
        clear: left;
    }
    .check-list__inner {
        @include respond-min($screen-lg) {
            margin-right: 60px;
            right: -1px;
        }
    }
    .check-list__source {
        @include respond-min($screen-lg) {
            right: 0;
            margin-right: -12px;

            &:before, &:after {
                content: "";
                position: absolute;
                border-collapse: separate;
                left: -48px;
                top: 50%;
            }
            &:before {
                margin-top: -12px;
                border: 12px solid transparent;
                border-left-color: #e3e3e3!important;
            }
            &:after {
                margin-top: -11px;
                border: 11px solid transparent;
                border-left-color: #fff!important;
            }
        }
    }
}

.check-list__item--right {
    @include respond-min($screen-lg) {
        float: right;
        clear: right;
        right: 0;
        top: 0;
    }

    .check-list__inner {
        @include respond-min($screen-lg) {
            margin-left: 60px;
            left: -1px;
        }
    }

    .check-list__source {
        @include respond-min($screen-lg) {
            left: 0;
            margin-left: -12px;

            &:before, &:after {
                content: "";
                position: absolute;
                border-collapse: separate;
                right: -48px;
                top: 50%;
            }
            &:before {
                margin-top: -12px;
                border: 12px solid transparent;
                border-right-color: #e3e3e3!important;
            }
            &:after {
                margin-top: -11px;
                border: 11px solid transparent;
                border-right-color: #fff!important;
            }
        }
    }
}

.check-list__item--push {
    @include respond-min($screen-lg) {
        margin-top: 5em;
    }
}

.check-list__item--approved {
    .check-list__inner:after {
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        content: "Approved";
        font-size: .75em;
        background-color: $brand-success;
        display: block;
        width: 100%;
        padding: 0 1em;
        color: $brand-white;
        position: absolute;
        top: 0;
        line-height: $line-height-lg;
    }
    .check-list__body {
        padding-top: 3em;
    }
}

.check-list__icon {
    height: 12px;
    width: 12px;
    position: relative;
    top: 2px;
    @include respond-max($screen-md) {
        height: 10px;
        width: 10px;
        top: 1px;
    }
    .lt-ie9 & {
        height: 10px;
        width: 10px;
        top: 1px;
    }
}

.check-list__icon:before {
    @include respond-min($screen-md) {
        font-size: $font-size-lg;
    }
}