/*
* Name: Data graph
* Use:
* Modifiers:
* Notes:
-------------------------------------------------------------- */

.data-graph {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 200;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.25em;
    @include respond-max($screen-sm) {
        margin-bottom: 4em;
    }
}

.data-graph__chart {
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 201;
}

.data-graph__percent {
    display: block;
    position: absolute;
    z-index: 202;
    text-align: center;
    background: white;
    border-radius: 99em;
    font-size: 30px;
    text-indent: 5px;
    left: 9px;
    top: 9px;
    width: 80px;
    height: 80px;
    line-height: 56px;
    padding: 10px 0;
}

.data-graph__sign {
    font-size: 70%;
    font-weight: normal;
}

.data-graph__title {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: .5em;
    text-align: center;
    font-size: $font-size-sm;
    font-weight: bold;
}
