/*
* Name: Header
* Use: Wrapping page title, notification area and links
* Modifiers: N/A
* Notes: N/A
-------------------------------------------------------------- */

.header {
    padding-top: $guttering;
    padding-bottom: $guttering;
    transition: all .2s ease-in-out;
    transform-origin: top;
    position: relative;
    z-index: $zindex-header;
    height: $header-height;

    @include respond-max($screen-md) {
        padding-top: $guttering/1.75;
        padding-bottom: $guttering/1.75;
        height: auto;
    }
    @include respond-max($screen-sm) {
        height: $header-height-mobile;
    }
}

.header--static {
    position: absolute;
    width: 100%;
    border-color: rgba(darken($brand-primary, 12%), .25);
    .no-rgba & {
        border-color: #44A9AE;
    }
}

.header--spacer {
    background-color: $brand-white;
    transform: scaleY(.75);
    height: $header-height;
}

.header--fixed {
    @include respond-min($screen-md) {
        position: fixed;
        width: 100%;
        top: 0;
        // Hack to achieve crisp bordering
        height: $header-height - 1px;
        transform: scaleY(.75);
        -webkit-perspective: 1000;
        background-color: rgba($brand-white, .95);
        transition: all .2s ease-in-out;
        z-index: $zindex-header;

        .no-csstransforms & {
            padding-top: $guttering/2;
            padding-bottom: $guttering/2;
        }

        .header__inner {
            -webkit-perspective: 1000;
            transform: scaleY(1.3333333333);
            transition: transform .2s ease-in-out;
        } 
        .header__btn {
            display: none;
        }
    }
}

.header__inner {
    width: 100%;
    transition: transform .2s ease-in-out;
}

.header__eclipse {
    @include respond-max($screen-sm) {
        border-radius: 50%;
        width: 0px;
        height: 0px; 
        position:absolute;
        top: 10px;
        right: 8px;
        background-color: rgba($brand-black, .85);
        opacity:1;
        z-index: $zindex-eclipse;
        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

        .no-rgba & {
            background-image: url('../images/miscellaneous/rgba-black-fallback.png');
            background-repeat: repeat;
        }
    }
}

.header__eclipse--active {
    @include respond-max($screen-sm) {
        min-width: 100%;
        width: 1400px;
        height: 1400px;
        top: -600px;
        right: -600px;
        transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }
    @include respond-max($screen-xs) { transition-duration: 1000ms; }
}

.header__nav-toggle {
    position: relative;
    @include on-interaction {
        border-bottom: 0;
        text-decoration: none;
    }
}

.header__btn {
    display: inline-block;
    margin-left: $guttering;
    vertical-align: middle;
    @include respond-max($screen-md) {
        display: none;
    }
}