/*
* Name:
* Use:
* Modifiers:
* Notes:
-------------------------------------------------------------- */

.hero { 
    position: relative;
    @include guttering; 
}

.hero__title {
    font-size: 36px;
    line-height: 1.2;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero__sub {
    font-weight: normal;
    max-width: 750px;
}

.hero__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &:active { top: 50%; }
}