/*
* Name: Input Group
* Use: Extend form controls by adding text or buttons before, after, or on both sides of any text-based input
* Modifiers: Border radius alignment
* Notes: See http://getbootstrap.com/components/#input-groups - This partial needs 'BEMifying'
-------------------------------------------------------------- */

// Base styles
// -------------------------
.input-group, %input-group {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    @include guttering;
}

// Display as table-cell
// -------------------------

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

// Addon and addon wrapper for buttons

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    .btn { 
        padding: 8px; 
        box-shadow: none;
        &:active { top: 0; }
    }
}

// Text input groups
// -------------------------
.input-group-addon {
    padding: $padding-vertical-base $padding-horizontal-base;
    font-size: $font-size-base;
    font-weight: 600;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 2px solid $input-group-addon-border-color;
}

// Reset rounded corners

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child .btn,
.input-group-btn:first-child .btn-group > .btn,
.input-group-btn:first-child .dropdown-toggle,
.input-group-btn:last-child .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child .btn-group:not(:last-child) > .btn {
    border-right: 0;
}

.input-group-addon:first-child {
    border-right: 0;
}


// Button input groups
// -------------------------
.input-group-btn {
    position: relative;
    white-space: nowrap;
    // Negative margin for spacing, position for bringing hovered/focused/actived
    // element above the siblings.
    > .btn {
        position: relative;
        margin-left: -2px;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    }
}
