/*
* Name: Lead
* Use: 
* Modifiers:
* Notes: N/A
-------------------------------------------------------------- */

.lead {}

.lead__peripheral { 
    display: block;
    margin-bottom: 0;
}

.lead__focus {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: $guttering/4;
    @include respond-min($screen-sm) {
        font-size: 6rem;
    }
}

.lead__focus--asterisks {
    &:after {
        content: "*";
        position: absolute;
        right: -.4em;
        top: 0;
        font-size: 50%;
    }
}