/*
* Name: masthead
* Use: Wrapping logo and subtext
* Modifiers: N/A
* Notes: N/A
-------------------------------------------------------------- */

.masthead {
    background-color: $brand-black;
    color: $brand-white;
    padding: $guttering/3 0;
}

.masthead__area {
    width: 100%;
}

.masthead__area--align {
    @include media($min-width: $screen-sm) {
        text-align: right;
    }
}

.masthead__subtext {
    text-decoration: none;
    color: $brand-white;
    &:visited {
        color: $brand-white;
    }
    @include on-interaction {
        color: $brand-white;
    }
}