/*
* Pattern name: Page
* Use: Content handling
* Modifiers: Padding options
* Note: N/A
-------------------------------------------------------------- */

.section {
    width: 100%;
    padding: 30px 0;
    background-size: cover;
    border-bottom: 1px solid $brand-keyline;
    position: relative;
    @include guttering;
    &:last-child { border-bottom: 0; }
}

.section--sm { @include respond-min($screen-lg) { padding: $guttering*2; } }

.section--primary {
    background-color: $brand-primary;
    color: white;
}

.section--transparent {
    background-color: transparent;
    color: white;
}

.section--plain { background-color: $brand-white; }

.section--subtle-highlight { background-color: $brand-grey-lighter; }

.section--bordered { border-top: 10px solid $brand-primary; }

.section--keyline { border: 1px solid $brand-keyline; }

.section--blocked {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: $guttering;
    &:last-child { margin-bottom: 0; }
}

.section--collapsible {
    padding: 20px;
    .section__body { padding-top: 20px; }
    &.closed {
        overflow: hidden;
        padding-bottom: 0;
        .section__body {
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
        }
    }
    &.open {
        overflow: auto;
        height: 100%;
        .section__body {
            height: 100%;
            opacity: 1;
            visibility: visible;
        }
    } 
}

.section__content {
    margin: auto;
    display: block;
    @include guttering; 
}

.section__content--sm { max-width: 650px; }

.section__head, .section__body {
    position: relative;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    @include guttering;
}

.section__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    .no-csstransforms & {
        margin-top: -14px;
    }
    &:active { top: 50%; }
}