/*
* Name: Stamp
* Use:
* Modifiers:
* Notes:
-------------------------------------------------------------- */

.stamp {
    width: 4em;
    height: 4em;
    background: $brand-danger;
    border-radius: 100em;
    display: table;
    text-align: center;
    color: white;
    transform: rotate(-10deg);
    margin-top: -4em;
    @include on-interaction {
        border: 0;
        color: white;
    }
}

.stamp__inner {
    display: table-cell;
    vertical-align: middle;
    font-size: .74em;
    line-height: 1.2;
    word-spacing: 4em; 
}