/*
* Name: Weather
* Use: Present the weather for the next 3 days
* Modifiers: N/A
* Notes: N/A
-------------------------------------------------------------- */

.weather {
    text-align: center;
    padding: .25em;
}

.weather__temp {
    line-height: 1;
    margin-top: 10px;
}

.weather__list {
    height: 4em;
    width: 6em;
    position: relative;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    @include respond-max($screen-sm) {
        width: 4em;
    }
}

.weather__list--large {
    width: 8em;
    margin-top: -.25em;
    .forecast--rainy {
        margin-top: -1em;
    }
    .forecast {
        font-size: 24px;
        &:before {
            margin: 0;
        }
    }
}
