/*
* Name: Widget
* Use: Module container used predominantly on the Dashboard
* Modifiers: N/A
* Note: Actual widget content should be abstracted from this file
-------------------------------------------------------------- */

.widget {}

.widget--increase-pad {
    .widget__body {
        padding: $guttering;
    }
    .widget__head {
        padding: $guttering / 2.5 $guttering;
    }
}

.widget__item {
    background-color: $brand-white;
    margin-bottom: $guttering;
    &:last-child {
        margin-bottom: 0;
    }
}

.widget__body {
    padding: 1.6rem;
    position: relative;
    border: 1px solid;
    border-top: 0;
    border-color: $brand-keyline;
    color: $brand-text;
}

.widget__body--guttering {
    @include guttering;
}

.widget__body--zero-border {
    border: none;
}

.widget__footer {
    border-top: 1px solid;
    border-top-color: $brand-keyline;
}

.widget__nav {
    width: 100%;
    display: table;
    background-color: $brand-grey-lighter;
    margin: 0;
    > li {
        display: table-cell;
        text-align: center;
        padding: 1rem 0;
        font-size: $font-size-sm;
        border-right: 1px solid;
        border-right-color: $brand-keyline;
        &:last-child {
            border-right: 0;
        }
    }
}

.widget__feature {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 12em;
    margin-left: -1px;
    left: 0;
    width: calc(100% + 2px);
    display: block;
    .no-csscalc & {
        width: 100%;
    }
    @include respond-min-max($screen-sm, $screen-lg) {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        top: 0;
        margin-left: -1px;
    }

    @include respond-min($screen-xl) {
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        top: 0;
        margin-left: -1px;
    }
}

.widget__supporting {
    padding: 1.6rem;
    @include respond-min-max($screen-sm, $screen-lg) {
        width: 60%;
        margin-left: 40%;
    }

    @include respond-min($screen-xl) {
        width: 60%;
        margin-left: 40%;
    }
}

.widget__feature--blocked {
    @include respond-min($screen-lg) {
        width: calc(100% + 2px);
        height: 12em;
        position: relative;
        .no-csscalc & {
            width: 100%;
        }
    }
}

.widget__supporting--blocked {
    width: 100%;
    margin-left: 0;
}

.widget__supporting--sidebar {
    @include respond-min($screen-lg) {
        width: 100%;
        margin-left: 0;
    }
}

.widget__head {
    padding: .5em 1.6rem;
    color: white;
    position: relative;
    width: 100%;
    background-color: $brand-primary;
}

.widget__head--arrow {
    @include arrow(left, center, $brand-primary, $border-color: transparent);
}

.widget__main {
    @include respond-max($screen-lg) {
        .widget__item {
            margin-bottom: $guttering;
        }
    }
}

.widget__link {
    color: white;
    @include on-interaction {
        color: white;
        text-decoration: none;
    }
}

.widget__title, .widget__control {
    padding: 0;
    margin: 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: white;
    @include on-interaction {
        color: white;
    }
}

.widget__title {
    font-weight: 600;
    margin-right: 1.5em;
}

.widget__icon {
    position: absolute;
    right: 1.6rem;
    top: .5em;
    text-align: right;
    line-height: 1.6;
    color: white;
    @include on-interaction {
        color: white;
    }

    @include respond-max($screen-sm) {
        top: .75em;
        line-height: 1.4;
    }
}

.widget__list {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        border-bottom: 1px solid #f3f3f3;
        @include guttering;
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.widget__list--striped {
    li {
        margin-bottom: 0;
        padding: 1.6rem 1.6rem;
        background-color: white;
        &:nth-child(even) {
            background-color: $brand-grey-lighter;
        }
        li {
            background-color: transparent;
            padding-left: 1em;
            padding-right: 1em;
        }
        &:last-child {
            padding-bottom: 1.6rem;
        }
    }
}

.widget__list--reduced-pad {
    li {
        padding-top: $guttering / 3;
        padding-bottom: $guttering / 3;
        &:last-child {
            padding-bottom: $guttering / 3;
        }
    }
}

.widget__video-container {
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.widget__placeholder {
    .zero-pad & {
        padding: 1.6rem;
        margin-bottom: 0;
    }
}

.widget__placeholder--more-pad {
    padding: 1em;
}

.widget__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(black, 0.4);
    padding: .5em 1em;
    margin-bottom: 0;
    width: 100%;
    a {
        color: white;
        @include on-interaction {
            color: white;
        }
    }
    .no-rgba & {
        background-color: transparent;
        background-repeat: repeat;
        background-image: url("../images/miscellaneous/rgba-black-fallback.png");
    }
}

.widget__overlay--top {
    top: 0;
    bottom: auto;
}